@page{
    size: A4;
}

@font-face {
    font-family: "Taamey Frank";
    src: local("Taamey Frank CLM"),
         url("./TaameyFrankCLM-Medium.ttf") format("truetype");
}

#cover-page{
    page-break-after: always;
    text-align: center;
    font-family: "Taamey Frank";
}

.page-header{
    display: flex;
    text-align: center;
    font-family: 'Taamey Frank'
}

.page-body{
    page-break-after: always;
    font-family: 'Taamey Frank';
    font-family: "Taamey Frank";
}

.main-content{
    /* padding-bottom: 1cm; */
    width: 100%;
    margin-top: 0px;
}
.trans{
    direction: ltr;
    max-width: 100%;
    font-size: 14px;
    margin-top: inherit;
    text-align: justify;
}

.main-text-container{
    max-width: 75%;
    float: right;   
    font-size: 21px;
    margin-top: inherit;
    margin-left: 1em;
    margin-bottom: 0px;
    text-align: justify;
}

.main-text{
    margin-top: initial;
    margin-bottom: 0em;
}

.main-text-verse{
    margin-top: inherit;
}

.border{
    /* border-style: solid; */
    border-width:  2px;
    border-color: brown;
}

.commentary-section{
    columns: 2;
}

.commentary{
    /*width: 50%;*/
    /* display: flex; */
    margin: 1em;
}

.commentary h1{
    font-weight: bold;
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 0px;;
}

.commentary .commentary-text{
    /* grid-column: 2; */
    font-size: 12px;
    text-align: justify;
    margin-top: 0px;
}
