#form{
    /* display: flex; */
    max-width: 360px;
    padding: 2em;
}

/* #bible-radio{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
} */


.books{
    /* display: flex; */
    flex-direction: column;
}

#main{
    width: 25em;
    border: khaki;
    border-style: groove;
    border-radius: 1em;
}


.select{
    margin-bottom: 1em;
}

