#form{
    /* display: flex; */
    max-width: 360px;
    padding: 2em;
}

h3{
    margin-top: 8px;
    margin-bottom: 8px;;
}

hr {
    margin: 0;
}

.books{
    /* display: flex; */
    flex-direction: column;
}

#main{
    width: 25em;
    border: khaki;
    border-style: groove;
    border-radius: 1em;
    text-align: center;
}


.select{
    margin-bottom: 1em;
}

