.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-size: 16px;;
}

#instructions{
  width: 30em;
  padding: 1em;
}

#instructions h3{
  color: gray;
  font-size: 20px;
}

#page-one{
  /* height: 80vh; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#generator {
  padding: 1em;
}

#disclaimer {
  padding: 1em;
  width: 30em;
}

#notes {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.bio{
  width: 30em;
  padding: 2em;
}

.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-pic{
  border-radius: 100%;
  width: 10em;
  margin: 1em;
}

footer{
  padding-top: 5em;
}