<section class="page-header">
        <h1> {{  book  }}</h1>
        <h2> {{ chapter }}</h2>
        <h3> {{ verse }}</h3>
</section>

<section class="page-body">
    <div class="border">
        <section class="main-content">
            <p class="main-text">{{ content }}</p>
            <p class="trans">{{ translation }}</p>
        </section>
        <section class="commentary-section">
            {% for com in commentators%}
            <div class="commentary">
                <h1> {{com['name']}} </h1>
                <div class="commentary-text">
                    {% for c in com.text %}
                    <p>{{  c  }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</section>
