 @page {
    size: A4;
}

.page-header{
    display: flex;
    text-align: center;
}

.page-body{
    page-break-after: always;
}

.main-content{
    padding-bottom: 1cm;
    width: 100%;
}
.trans{
    direction: ltr;
    max-width: 100%;
}

.main-text{
    max-width: 60%;
    float: right;
}

#border{
    border-style: solid;
    border-width:  2px;
    border-color: brown;
}

.commentary-section{
    columns: 2;
}

.commentary{
    /*width: 50%;*/
    display: flex;
}

.commentary h1{
    font-weight: normal;
    margin-top: 16px;
    font-size: 14px;
}

.commentary .commentary-text{
    /* grid-column: 2; */
    font-size: 12px;
    text-align: justify;
}
